@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
  font-family: "Work Sans", sans-serif;
}

section{
  margin: 10px 90px;
}
.card{
  background-color: #fff;
  width: 900px;
  height: 800px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  place-content: center;
  margin: 140px auto;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.062);
  position: relative;
  
}

h1{
  position: fixed;
  top: 130px;
}


h2{
  color:  hsl(292, 42%, 14%);
  font-size: 1.3rem;
  margin:25px 35px;
 
}

p{
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: hsl(292, 21%, 64%);
  margin:20px 35px;
}

.plus-btn{
  position: absolute;
  top: auto;
  right: 120px;
  cursor: pointer;
}

body{
  background-image: url(assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  background-attachment: fixed;
  background-color:  hsl(275, 100%, 97%);
  overflow: hidden;

}

img{
  cursor: pointer;
}


.faq-title{
  font-size: 4rem;
  display: flex;
  padding-left: 140px;
  color:hsl(292, 42%, 14%); 
}

.faq-title::after{
  content: '';
  width: 40px;
  height: 41px;
  background: url(assets/images/icon-star.svg);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 80px;
  top: 20px;
}

hr{
  border: 1px solid #d3d3d3;
}

.hidden{
  display: none;
}
